
.slick-slide img{
    border-radius: 10%;
}

.portfolio-slider {
    margin-bottom: -3rem;
}

.portfolio-slider {
    display: none;
}

.portfolio-slider.slick-initialized {
    display: block;
}


.portfolio-slider .portfolio-item{
    display: none;
}

.portfolio-slider .portfolio-item:first-child{
    display: block;
}

.portfolio-slider.slick-initialized .portfolio-item {
    display: block;
  }

.slick-prev {
    left: -1rem;
    background-color: black;
    z-index: 1;
}

.slick-next {
    right: -1rem;
    background-color: black;

}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: black;
}